* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

body {
    --color-border-default: #d0d7de;
    --link-color: rgb(9, 105, 218);
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.header img {
    width: 100px;
}

.markdown {
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    margin: 0 auto;
    margin-bottom: 60px;
    min-width: 200px;
    max-width: 100%;
    overflow: hidden;
}

.markdown-header,
.markdown-footer {
    background-color: #f6f8fa;
    padding: 4px 8px;
    border-bottom: 1px solid var(--color-border-default);
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.markdown-header .date {
    color: #656262;
}

.markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    margin: 0 auto;
    padding: 45px;
}

@media (max-width: 767px) {
    .markdown-body {
        padding: 0 15px;
    }
}

.markdown-body img {
    box-shadow: rgb(0 0 0 / 9%) 0px 0px 6px 0px;
}

.body {
    display: grid;
    grid-template-columns: 9fr 32fr 9fr;
    margin: 0 auto;
    column-gap: 10px;
    max-width: 120em;
}

.toc {
    max-height: calc(100vh - 30px);
    position   : sticky;
    top        : 20;
    align-self : start;
    display  : flex;
    flex-wrap: nowrap;
    flex-direction: column;
    border: 1px solid var(--color-border-default);
    border-radius: 6px;
    overflow: hidden;
}

.toc .toc-header {
    background-color: #f6f8fa;
    padding: 4px 8px;
    border-bottom: 1px solid var(--color-border-default);
    font-size: 0.875rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.toc .toc-body {
    overflow-x: auto;
    padding: 20px 0;
}

.toc .toc-item {
    font-size: 16px;
    padding: 4px 0px;
    width: 100%;
}

.toc .toc-item:hover {
    background-color: #F5F5F5;
}

.toc .toc-item a {
    color: black;
    white-space: nowrap;
    display: block;
}

.toc .toc-item a:hover {
    text-decoration: none;
}

@media (max-width: 1200px) {
    .body {
        display: flex;
        flex-direction: column-reverse;
    }
    .toc {
        display: none;
    }
}